.create-offer-button{
  float: right;
  display: inline-block;
  background: #f7f7f7;
  font-size: 15px;
  border: 1px solid grey;
  padding: 6px 15px 0;
  height: 39px;
  color: grey !important;
  border-radius: 25px;
}
.create-offer-button i{
  font-size: 25px;
  color: #182f81;
  padding: 0 5px 0 0;
  float: left;
}
.create-offer{
  width: 700px;
  padding: 0;
  background: #fff;
}
.start-date h2,
.end-date h2,
.percentage-off h2{
  font-size: 17px;
  font-weight: 400;
}
.offer-form .btn-primary{
  color: #fff !important;
}
.offer-form .fa-calendar{
  color: #000000;
}
.form-control{
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  font-weight: lighter !important;
}
.form-control:focus{
  box-shadow: none !important;
}

.offer-header{
  margin: 0 0 36px;
  width: 100%;
}
.offer-header h4 {
  float: left;
}
#basicSelect{
  float: right;
  width: 150px;
  padding: 0;
  margin: 0;
}
