
<a class="create-offer-button" (click)="openModal(template)" style="cursor: pointer;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Create New Offer</a>

<ng-template #template>
  <div class="tg-user-type-modal">
    <div class="modal-body create-offer">
      <div class="tg-modal-content">
        <div class="card-body">
          <div class="px-3">
            <div class="row" matchHeight ="card">
              <!--Datepicker in a popup starts-->
              <!--<div class="col-md-12 col-lg-12">-->
                <!--<div class="card">-->
                  <div class="offer-header">
                    <h4 class="card-title">Set Pharmacy Offer</h4>
                    <select  class="form-control" id="basicSelect" #selectBranch>
                      <option [value]="0">Select Branch</option>
                      <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
                    </select>
                  </div>
                  <div>
                    <div>
                      <form class="form-inline  offer-form" #offerForm="ngForm" (submit)="saveOffer(offerForm.value, unit.value, selectBranch.value)" >
                        <div class="start-date col-sm-6">
                          <h2>Offer Name</h2>
                          <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="Offer Name" name="offerName" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="percentage-off col-sm-6">
                          <h2>Offer Percentage</h2>
                          <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="Set Percentage" name="percentage" ngModel >
                              <select class="form-control" id="basicSelect2" name="unit" #unit>
                                <option>Select Unit</option>
                                <option [value] = "0" >fixed</option>
                                <option [value] = "1">percentage</option>

                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="start-date col-sm-6">
                          <h2>Offer Start</h2>
                          <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" [(ngModel)]="popupModel" ngbDatepicker #d1="ngbDatepicker">
                              <div class="input-group-addon" (click)="d1.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="end-date col-sm-6">
                          <h2>Offer End</h2>
                          <div class="form-group">
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" [(ngModel)]="popupModel2" ngbDatepicker #d2="ngbDatepicker">
                              <div class="input-group-addon" (click)="d2.toggle()">
                                <i class="fa fa-calendar" style="cursor: pointer;"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                <!--</div>-->
              <!--</div>-->
            </div>
              <!--Datepicker in a popup ends-->

            </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
