<a class="view-img" *ngIf="prescriptions" (click)="openModal(template)" style="cursor: pointer;"><img src="{{imagePath}}/{{prescriptions.medias[0].image}}"> </a>
<a class="view-img" *ngIf="order" (click)="openModal(template)" style="cursor: pointer; text-align: center;display: block;"><i class="fa fa-file-o" style="font-size: 28px;"></i> </a>


<ng-template #template>
  <div class="tg-modal-content">
    <div class="prescription-img">
      <h2>Prescriptions</h2>
      <div class="col-sm-12" *ngIf="prescriptions">
        <img class="zoomer" [imageZoom]="image_src" [src]="image_small" [style.width.px]="300" [style.height.px]="400">
        <a *ngFor="let thumbnail of prescriptions.medias">
          <img src = "{{imagePath}}/{{thumbnail.image}}" alt="..." class="img-thumbnail" [style.border-color]="activeImg" (click)="getImgSrc(imgsrc.getAttribute('src'), i);" #imgsrc>
        </a>
        <!--<a class="next-img" (click)="next()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
        <!--<a class="previous-img" (click)="previous()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
      </div>
      <div class="personal-info meds-view-history" *ngIf="order">
        <div class="card-body">
          <div class="card-block">
            <table class="table">
              <thead>
              <tr>
                <th>Item #</th>
                <th>Name</th>
              </tr>
              </thead>
              <tbody *ngIf="order.invoiceItems">
              <tr *ngFor="let product of order.invoiceItems; let i = index">
                <td>{{i + 1}}</td>
                <td>{{product.name}}</td>
              </tr>
              </tbody>
              <tbody *ngIf="order.labItems">
              <tr *ngFor="let product of order.labItems; let i = index">
                <td>{{i + 1}}</td>
                <td>{{product.item}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
