.view-img img {
  width:80px;
  height: 80px;
}
.prescription-img {
  padding: 2% 0;
  background: #f7f7f7;
  box-sizing: border-box;
  width: 940px;
  border-radius: 8px;
  text-align: center;
}
.prescription-img h2 {
  margin: 0 0 10px 11px;
}
.prescription-img textarea{
  background: white;
  min-height: 120px;
}
.prescription-img .img-thumbnail{
  max-width: 10%;
  margin: 0 0 10px;
}
.view-img{
  padding: 5px 9px;
  font-size: 12px;
  cursor: pointer;
  margin: 0 5px 0 0;
}
.view-img:hover{
  color: #fff;
}
.prescription-img .zoomer {
  display: block;
  margin: 0 auto 8px;
  position: relative;
}

