
<!-- Filter Datatable Options Starts -->
<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="invoice-list">
            <h1>New Orders</h1>
            <select *ngIf="!branchAdmin" class="form-control" id="basicSelect" #selectBranch (change)="newOrdersOfBranch(selectBranch.value)" >
              <option [value]="0">All Branches</option>
              <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
            </select>
            <table class="table" *ngIf="!imgLoader">
              <thead class="thead-default">
              <tr>
                <th>Order#</th>
                <th>Name</th>
                <th>Branch Name</th>
                <th>Action</th>
                <!--<th>Timer</th>-->
              </tr>
              </thead>
              <tbody *ngIf="!noOrdersData">
              <tr *ngFor="let order of ordersData, let i = index" (mouseenter)="getOrderId(order.id);">
                <td  scope="row">{{order.order_number}}</td>
                <td style="width: 120px; !important;" scope="row" style="width: 130px;">{{order.name}}<br>{{order.mobile}}</td>
                <!--<td >{{order.mobile}}</td>-->
                <!--<td>12/7/2017</td>-->
                <td >{{order.branch_name}}</td>
                <!--<td>100.Rs</td>-->
                <td>
                  <app-in-process-order *ngIf="!order.is_invoice" [orderDetails]="order" [orderIdInv]="orderId" [pendingOrderComponent]="pendingOrder" [completeOrderComponent]="completeOrder" [cancelOrderComponent]="cancelOrder" (childEvent)="getDataCall($event)"></app-in-process-order>
                  <app-invoicedetail  *ngIf="order.is_invoice" [orderDetails]="order" (childEvent)="getDataCall($event)" [invoiceId]="order.invoice_id" [showBtnComplete]="order.invoice_id != null ? order.id : ''"></app-invoicedetail>
                </td>
                <!--<td ><countdown [config]="{leftTime: 30 * 10}" >$!m!min $!s!sec</countdown></td>-->
                <td >

                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="imgLoader"  class="img-loader">
              <img src="../../../assets/img/loader.gif">
            </div>
            <div *ngIf="noOrdersData">
                <h2 class="no-order">No Record Found ...!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filter Datatable Options Ends -->
