
//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.orders-view-detail {
  padding: 2px 11px;
  background: #34abe0;
  border-radius: 20px;
  display: inline-block;
  font-size: 11px;
  color: #fff;
  text-align: center;
}
.datatable-header,
.datatable-body{
  padding:0 25px;
}
.invoice-list .table th,
.invoice-list .table td {
  padding: 5px 0;
  font-size: 12px;
  border-top: 1px solid #e9ecef;
  vertical-align: middle;
  text-align: center;
}
.invoice-list table td img{
  width:50px;
}
.invoice-list h1{
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 0 15px;
  padding: 3px 0 0;
  float: left;
}
.invoice-list #basicSelect{
  float: right;
  width: 156px;
  height: 24px;
  font-size: 13px;
}
.invoice-list countdown{
  color: red;
}
.invoice-list h2{
  font-size: 14px;
  padding: 10px 0 0;
}
.no-order {
  font-size: 14px;
  padding:10px 0 0 ;
  text-align: center;
}
.img-loader{
  width: 100%;
  overflow: hidden;
}
.img-loader img{
  max-width: 20%;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}
