.form-control.open ~ .dropdown-menu{
  width:92%;
}
//@import '~@swimlane/ngx-datatable/release/index.css';
//@import '~@swimlane/ngx-datatable/release/themes/material.css';
//@import '~@swimlane/ngx-datatable/release/assets/icons.css';
//@import './shared/variables';
//@import './shared/breakpoints';

// Component styles are so messed up that it's impossible
// to override them without breaking style guide.

/* stylelint-disable */
.ngx-datatable .datatable-footer{
  background: #fff !important;
}
.product-search-input {
  padding: 8px;
  width: 40%;
  font-size: 15px;
  font-weight: lighter;
  display: table;
  margin: 0 auto 21px;
}
.ngx-datatable.material.single-selection .datatable-body-row.active,
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-selection .datatable-body-row.active,
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active,
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: #54af3b;
  color: #fff;

  &:hover {
    background-color: #55b93c;
    color: #fff;
  }
}

.ngx-datatable.material {

  .progress-linear {
    position: fixed !important;
    bottom: 0px;
  }

  .datatable-footer_scroll-to-top {
    margin: 1em;

    .scroll-to-top-button {
      padding: 0.5em 1em;
      color: #fff;
      background-color: #4d87ea;
    }
  }

  .datatable-header {
    background-color: #383a3c;
  }

  .datatable-header-cell-label {
    color: #fff;
    cursor: pointer;
  }

  .datatable-body-cell-label {
    cursor: default;
  }

  .datatable-footer {
    font-size: 1em;

    .datatable-footer_pagination {
      width: 100%;
      padding: 0.5em 1em;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .glp-datatable-pager {
    flex: none;
    margin-right: 1em;
    margin-left: 0;
    text-align: initial;

    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    li {
      width: 2.5em;
      height: 2.5em;
      margin-right: 0.3em;
      cursor: pointer;

      &.active {
        font-weight: bold;
      }

      &.disabled {
        opacity: 0.6;
      }

      &.nav {
        background-color: #e68628;
        color: #fff;

        a {
          font-size: 1.5em;
        }
      }

      &.pages {
        background-color: #e6e6e6;
        display: none;

        //@include gt-xs {
        //  display: inherit;
        //}
      }
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .datatable-footer__page-limit {
    padding: 0.4em;
    font-size: 1.2em;
    width: 10em;
  }

  &.scroll-vertical {
    max-height: 90vh;
    min-height: 20em;
  }

  ::-webkit-scrollbar {
    width: 0.35em;
    height: 0.35em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }


  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.img-loader{
  width: 100%;
  overflow: hidden;
}
.img-loader img{
  max-width: 20%;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}

