<div class="panel panel-default">
  <h2>Products</h2>
  <form class="form" [formGroup]="form" (submit)="saveProduct(form.value, $event)">
    <div class="row">
      <div class="col-md-12">
        <div class="signup__container">
          <div class="container__child signup__form">
              <div class="row">
                  <div class="col col-md-4">
                    <div class="form-group">
                      <label for="category_id">Product Categories</label>
                        <!--<select class="form-control" *ngIf="loadComplete" [ngbTypeahead]="categories">-->
                          <!--<option>Select Category</option>-->
                          <!--<option *ngFor="let category of categories" value= {{category.id}} >{{category.name}}</option>-->
                        <!--</select>-->
                      <!--<ng-template #rt let-r="result" let-t="term" >-->
                        <!--{{ r.name}}-->
                      <!--</ng-template>-->
                      <!--<input-->
                        <!--id="typeahead-focus"-->
                        <!--type="text"-->
                        <!--class="form-control"-->
                        <!--[ngbTypeahead]="search"-->
                        <!--(focus)="focus$.next($event.target.value)"-->
                        <!--(click)="click$.next($event.target.value)"-->
                        <!--#instance="ngbTypeahead"-->
                        <!--[inputFormatter]="formatter"-->
                        <!--[resultTemplate]="rt"-->
                        <!--(selectItem)="selectedId($event, i)"-->
                      <!--/>-->
                    </div>
                  </div>
                  <div class="col col-md-4">
                    <div class="form-group">
                      <label for="name">Item Name</label>
                      <!--<ng-template #rt1 let-p="result" let-t="term" >-->
                        <!--{{ p.name}}-->
                      <!--</ng-template>-->
                      <!--<input-->
                        <!--id="name"-->
                        <!--type="text"-->
                        <!--class="form-control"-->
                        <!--[ngbTypeahead]="search1"-->
                        <!--(focus)="focus$.next($event.target.value)"-->
                        <!--(click)="click$.next($event.target.value)"-->
                        <!--#instance="ngbTypeahead"-->
                        <!--[inputFormatter]="formatter1"-->
                        <!--[resultTemplate]="rt1"-->
                        <!--formControlName="name"-->
                        <!--(selectItem)="selectedName($event, i)"-->
                        <!--(keypress)="selectedName($event, i)"-->
                      <!--/>-->
                    </div>
                  </div>
                  <div class="col col-md-4">
                    <div class="form-group">
                      <label for="price">Unit Price</label>
                      <input class="form-control" type="text" formControlName="price" [(ngModel)]="sPrice" id="price" placeholder="Unit Price"  />
                    </div>
                  </div>
                  <div class="col col-md-3">
                      <a class="btn btn-outline-danger">Cancel</a>
                      <button class="btn btn-outline-success" type="submit">Save <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </form>

  <div class="row" matchHeight ="card">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body" *ngIf="!imgLoader">
              <input
                type='text'
                placeholder='Type to search products'
                (keyup)='updateFilter($event)'
                class="product-search-input"
              />
              <div *ngIf="!imgLoader">
              <!--<ngx-datatable-->
                <!--#table-->
                <!--class='material'-->
                <!--[columnMode]="'force'"-->
                <!--[headerHeight]="50"-->
                <!--[footerHeight]="50"-->
                <!--[rowHeight]="'auto'"-->
                <!--[limit]="10"-->
                <!--[columns]="columns"-->
                <!--[rows]='rows'>-->
                      <!--<ngx-datatable-column name="#" [draggable]="false">-->
                        <!--<ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>-->
                          <!--{{rowIndex}}-->
                        <!--</ng-template>-->
                      <!--</ngx-datatable-column>-->
                      <!--<ngx-datatable-column name="Category" [draggable]="false">-->
                        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                          <!--<span *ngIf="row.category !== undefined">{{row.category.name}}</span>-->
                        <!--</ng-template>-->
                      <!--</ngx-datatable-column>-->
                      <!--<ngx-datatable-column name="Name" [draggable]="false">-->
                        <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                          <!--{{row.name}}-->
                        <!--</ng-template>-->
                      <!--</ngx-datatable-column>-->
                      <!--<ngx-datatable-column name="Unit price" [draggable]="false">-->
                      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                        <!--{{row.unit_price}}-->
                      <!--</ng-template>-->
                    <!--</ngx-datatable-column>-->
                    <!--<ngx-datatable-column name="Edit" [draggable]="false">-->
                      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                          <!--<app-update-products [row]="row"></app-update-products>-->
                      <!--</ng-template>-->
                    <!--</ngx-datatable-column>-->
                    <!--<ngx-datatable-column name="Delete" [draggable]="false">-->
                      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
                        <!--<a (click)="deleteProduct(row.id, row, $event)" class="ng2-smart-action ng2-smart-action-delete-delete" href="#"><i class="ft-x danger font-medium-1 mr-2"></i></a>-->
                      <!--</ng-template>-->
                    <!--</ngx-datatable-column>-->
              <!--</ngx-datatable>-->
            </div>
            </div>
            <div *ngIf="imgLoader"  class="img-loader">
              <img src="../../../assets/img/loader.gif">
            </div>
          </div>

        </div>
      </div>
    </div>
