.order-list table td img{
  width:80px;
}
.no-order {
  font-size: 16px;
  padding: 10px 0 0;
  text-align: center;
}
.img-loader{
  width: 100%;
  overflow: hidden;
}
.img-loader img{
  max-width: 20%;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
}
