<div class="row" matchHeight ="card">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <div class="completed-order">
              <h2>Orders History</h2>
              <select *ngIf="!branchAdmin" class="form-control" id="basicSelect" #selectBranch (change)="completeOrdersOfBranch(selectBranch.value)" >
                <option [value]="0">All Branches</option>
                <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
              </select>
              <table class="table" *ngIf="!imgLoader">
                <thead class="thead-default">
                <tr>
                    <th>Order #</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Date/Time</th>
                    <th>Branch Name</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody *ngIf="!noCompleteData">
                <tr *ngFor="let order of ordersHistoryData; let i = index" >
                    <td  scope="row">{{order.order_number}}</td>
                    <td >{{order.name}}<br>{{order.mobile}}</td>
                    <td >{{order.address}}</td>
                    <td >{{order.date}}<br>{{order.time}}</td>
                    <td >{{order.branch_name}} </td>
                  <td *ngIf="order.document.medias.length !== 0"><app-view-prescription [prescriptions]="order.document"></app-view-prescription> </td>
                  <td *ngIf="order.document.medias.length == 0 && order.invoice.length != 0"><app-view-prescription [order]="order.invoice"></app-view-prescription> </td>
                  <td *ngIf="order.document.medias.length == 0 && order.invoice.length == 0"><app-view-prescription [order]="order.prescription"></app-view-prescription> </td>
                    <td ><app-invoicedetail [orderDetails]="order" [invoiceId]="order.invoice_id" [showBtnComplete]="order.invoice_id != null ? order.id : ''"></app-invoicedetail></td>
                </tr>
                </tbody>
              </table>
              <div *ngIf="imgLoader"  class="img-loader">
                  <img src="../../../assets/img/loader.gif">
              </div>
              <div *ngIf="noCompleteData">
                <h2 class="no-order">No Records Found ...!</h2>
              </div>
              <ngb-pagination *ngIf="!noCompleteData"  [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"  [boundaryLinks]="false" (pageChange)="pageChanged($event)"></ngb-pagination>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

