.start-date h2,
.end-date h2,
.percentage-off h2{
  font-size: 20px;
  font-weight: 400;
}
.offer-form .btn-primary{
  color: #fff !important;
}
.offer-form .fa-calendar{
  color: #000000;
}
.form-control{
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  font-weight: lighter !important;
}
.form-control:focus{
  box-shadow: none !important;
}
