<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="customer-history-header">
            <div class="customer-info">
            <img src="assets/img/male.png">
            <div class="info">
              <h1>{{customerDetail.name}}</h1>
              <span>{{customerDetail.mobile}}</span>
              <address>{{customerDetail.address}}</address>
            </div>
          </div>
            <a class="btn btn-raised btn-secondary" href="javascript:void(0)" onclick="print()"><i class="fa fa-print" aria-hidden="true"></i> Print</a>
          </div>
          <div class="customer-history">
            <h2>History</h2>
            <table class="table">
              <thead>
              <tr>
                <th>#</th>
                <th>Image</th>
                <th>Date/Time</th>
                <th>Payment</th>
                <!--<th>Promo Code</th>-->
                <th>Invoice</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let record of invoiceRecord, let i = index" (mouseenter)="getInvoiceIndex(record.invoice_id)">
                <th scope="row">{{i+1}}</th>
                <td *ngIf="record.document.medias.length !== 0"><app-view-prescription [prescriptions]="record.document"></app-view-prescription> </td>
                <td *ngIf="record.document.medias.length == 0"><app-view-prescription [order]="record.invoice"></app-view-prescription> </td>
                <td>{{record.date}}<br>{{record.time}}</td>
                <td>Rs. {{record.total_price}}</td>
                <!--<td>{{record.promocode}}</td>-->
                <td ><app-invoicedetail [orderDetails]="false" [invoiceId]="false" [showBtnComplete]="false"></app-invoicedetail></td>
                <!--<td><app-invoicedetail [orderDetails]="record"></app-invoicedetail></td> -->
                <!--<td *ngIf="!record.invoice_id; else invoice">-->
                  <!--<span>Invoice Not Available</span>-->
                <!--</td>-->
                <!--<ng-template #invoice><td><app-invoicedetail></app-invoicedetail></td></ng-template>-->
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
