.customer-info img {
  width: 20%;
  float: left;
}

.info h1 {
  font-size: 18px;
  font-weight: 500;
  color: #0090c6;
  margin: 0;
  text-transform: uppercase;
}
.info span {
  color: #747474;
  font-size: 14px;
}
.info address {
  color: #747474;
  font-size: 12px;
}
.customer-info .info {
  overflow: hidden;
  padding: 13px 0 0 12px;
}
.customer-info {
  float: left;
}
.customer-history-header {
  overflow: hidden;
  margin: 0 0 20px;
}
.customer-history {
  overflow: hidden;
}
.customer-history h2 {
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  text-transform: uppercase;
}
.customer-history-header .btn-secondary{
  float: right;
}
.customer-history table td img {
  width: 80px;
  height: 80px;
}
.customer-history table th {
 color: #5f5f5f;
}
