.form-control{
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  font-weight: lighter !important;
}
.form-control:focus{
  box-shadow: none !important;
}
.branch-offer h2{
  float: left;
  margin: 10px 0 0;
}
.branch-offer select{
  float: right;
  width: 200px;
}
.branch-offer{
  overflow: hidden;
  padding: 25px 0 0;
}

.edit-icon {
  float: right;
}
.offer-card dl{
  width: 100%;
}
.offer-card dl dt {
  float: left;
  font-size: 12px;
  margin: 0 0;
  text-align: right;
  width: 70px;
  padding: 4px 0 0 0;
  color: #7a7a7a;
}

.offer-card dl dd {
  overflow: hidden;
  margin: 0;
  font-size: 12px;
  text-align: left;
  padding: 0 0 0 15px;
  color: #8d8d96;
}
.offer-card-head {
  overflow: hidden;
}
.offer-card-head h1{
  color: #0090c6 !important;
  display: inline-block;
  font-size: 17px !important;
  width: 176px;
  min-height: 48px;
}
.no-offer {
  font-size: 25px;
  padding: 15px 0 0;
  text-align: center;
}
