<div class="branch-offer" *ngIf="!noOfferFound">
  <h2>Offer By Branch</h2>
  <select *ngIf="!pharmacyAdmin" class="form-control" id="basicSelect" #selectBranch (change)="branchOffers(selectBranch.value)">
    <option [value]="0">Select Branch</option>
    <option [value]="0">All</option>
    <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
  </select>
</div>
<div class="row" matchHeight ="card">
  <div class="col-xl-4 col-lg-4 col-md-12" *ngFor="let offer of offers; let i = index"  (mouseenter)="getOfferId(offer.id)">
    <div class="card offer-card">
      <div class="card-body">
        <div class="card-block">
          <div class="offer-card-head">
            <h1 class="card-title">{{offer.name}}</h1>
            <div class="edit-icon">
              <a  (click)="deleteOffer(i, offer.id)" (messageEvent)="receiveMessage($event)" ><i class="fa fa-trash" aria-hidden="true"></i></a>/
              <app-update-offer></app-update-offer>
            </div>
          </div>
          <dl>
            <dt>Branch:</dt>
            <dd>{{offer.branch}}</dd>
            <dt>Start Date:</dt>
            <dd>{{offer.start}}</dd>
            <dd *ngIf="!offer.start">No Date</dd>
            <dt>End Date:</dt>
            <dd>{{offer.end}}</dd>
            <dd *ngIf="!offer.end">No Date</dd>
            <dt> Offer:</dt>
            <dd>{{offer.value}} {{offer.type}}</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="noOfferFound">
  <h2 class="no-offer"> No Record Found ...!</h2>
</div>
