.col-sm-6{
    float: left;
}
.img-thumbnail {
    width: 100px;
}
.invoice-loader{
    width: 100%;
    overflow: hidden;
    padding: 120px 0;
    text-align: center;
  }
  .invoice-loader img {
    max-width: 10%;
    display: inline-block;
  }
  .invoice-loader span {
    display: block;
  }
  .inovice-detail-view, .invoice-person-info{
      width: 100%;
  }
.pharmacy-order .thumbnails a .ft-file-text {
  font-size: 50px;
  color: #0B486B;
}
.thumbnails {
  overflow: hidden;
}
.thumbnails img {
  width: 40px;
}
.cancel-img {
  position: absolute;
  top: -17px;
  left: -6px;
  cursor: pointer;
}
.cancel-img  i {
  color: #fff;
  font-size: 21px;
}
