<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
          <div class="row">
              <form class="form col col-md-12" [formGroup]="form" (submit)="getDetail(form.value, $event)">
              <div class="col col-md-4">
                 <div class="form-group" *ngIf="ordersNo.length !== 0">
                  <label for="category_id">Type Order Number</label>

                  <ng-template #rt let-r="result" let-t="term" >
                    {{ r.order_number}}
                  </ng-template>
                  <input
                    id="typeahead-focus"
                    type="text"
                    class="form-control"
                    [ngbTypeahead]="search"
                    (focus)="focus$.next($event.target.value)"
                    (click)="click$.next($event.target.value)"
                    #instance="ngbTypeahead"
                    [inputFormatter]="formatter"
                    [resultTemplate]="rt"
                    formControlName="order_number"
                    (selectItem)="selectedId($event, i)"
                  />
                </div>
              </div>

              <div class="col col-md-3">
                  <button class="btn btn-outline-success" type="submit">Search</button>
              </div>
              </form>
          </div>
      </div>
    </div>
  </div>
  <div *ngIf="sendingRequest"  class="invoice-loader">
    <img src="../../../assets/img/loader.gif">
    <span>Loading Data ...</span>
  </div>
  <div class="col-xl-12 col-lg-12 col-md-12" *ngIf="loaded">
    <div class="card">
      <div class="card-body">
          <div class="row">
            <div class=" col-md-12">
                <div class=" col-md-12">
                    <div class="row">
            <div class="col-md-3">
              <dl>
                  <dt>Name:</dt>
                  <dd>{{customerDetail.name}}</dd>
                  <dd *ngIf="!customerDetail.name">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                  <dt>Number:</dt>
                  <dd>{{customerDetail.mobile}}</dd>
                  <dd *ngIf="!customerDetail.mobile">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>Address:</dt>
                    <dd *ngIf="customerDetail.address != null">{{customerDetail.address}}</dd>
                    <dd *ngIf="!customerDetail.address || customerDetail.address == null">...</dd>
                </dl>
              </div>
            </div>
          </div>
      </div>
      </div>
        <div class="row personal-info">
            <div class="col-md-12">
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Item Name</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of productDetail; let i = index">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{product.name}}</td>
                  <td>{{product.price}}</td>
                  </tr>
              </tbody>
              </table>
        </div>
      </div>
        <hr>
        <div class="row">
        <div class="proceed-payment col-md-12">
          <div class="payment-buttons">
            <div *ngIf="showBtnComplete !== undefined"><button class="btn btn-raised btn-primary" (click)="moveToComplete(showBtnComplete)"><img *ngIf="moveLoading" src="../../../assets/img/loader.gif" style="width: 20px"> Complete Order</button></div>
          </div>
          <div class="col-sm-6">
            <h3 class="">Total : <span>Rs {{customerDetail.invoice.total}}</span><span *ngIf="pathOne" class="hayaat-fee">Hayaat Fee : <b>0%</b></span></h3>
          </div>
          <div class="col-sm-6">
          <form class="pharmacy-order" [formGroup]="form" enctype="multipart/form-data" (submit)="sendOrder(form.value)" #orderForm="ngForm" >
            <div class="upload-image-section">
              <label class="btn btn-block btn-primary btn-file-upload" (change)="onFileChange($event)" style="margin: 0; color: #fff !important;">
                <i class="material-icons"></i>
                Upload Files
                <input type="file" multiple formControlName="image" id="avatar"   style="display: none;" #fileInput >
              </label>
              <span style="font-size: 11px">Max 5 files (PDF ONLY)</span>
              <div class="thumbnails">
                <div *ngFor="let url of myFiles, let i = index" style="float: left;" >
                  <a style="position: relative; margin: 0 7px 0 0; cursor: auto;" [title]="url.name">
                    <a (click)="delUploadedImage(i)" class="cancel-img"><i class="ft-delete"></i></a>
                    <img src="../../../assets/img/pdf-icon.png">
                  </a>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-md send-button pull-right" [disabled]="sendingbtnRequest" style="color: #fff !important;"><span *ngIf="sendingbtnRequest">
              <img src="../../../assets/img/loader.gif" width="20px">
            </span> Send Report</button>
            </form>
          </div>
        </div>
      </div>
</div>
</div>
</div>
</div>
