<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="completed-order">
            <h1>Completed Orders</h1>
            <select *ngIf="!branchAdmin" class="form-control" id="basicSelect" #selectBranch (change)="completeOrdersOfBranch(selectBranch.value)" >
              <option [value]="0">All Branches</option>
              <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
            </select>
            <table class="table" *ngIf="!imgLoader">
              <thead class="thead-default">
              <tr>
                <th>Order#</th>
                <th>Name</th>
                <!--<th>Number</th>-->
                <th>Branch Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngIf="!noCompleteData">
              <tr *ngFor="let order of completeOrdersData" >
                <td  scope="row">{{order.order_number}}</td>
                <td  scope="row">{{order.name}}<br>{{order.mobile}}</td>
                <td style="width: 100px;">{{order.branch_name}}</td>                      
                <td>                     
                  <app-invoicedetail [invoiceId]="order.invoice_id" [orderDetails]="order" [showBtnComplete]="order.invoice_id != null ? order.id : ''"></app-invoicedetail>
                </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="imgLoader"  class="img-loader">
                <img src="../../../assets/img/loader.gif">
            </div>
            <div *ngIf="noCompleteData">
                <h2 class="no-order">No Record Found...!</h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

