<div class="row" matchHeight ="card" *ngIf="!noDataFound" >
  <div class="col-xl-3 col-lg-6 col-md-12" *ngFor="let customer of customersData, let i = index" >
    <div class="card customer-card">
      <div class="card-body">
        <div class="card-block">
          <img class="card-img img-fluid mb-3 round-img" src="assets/img/male.png" alt="Card image cap">
          <h4 class="card-title">{{customer.name}}</h4>
          <p class="card-text"> {{customer.mobile}}</p>
          <address>{{customer.address | truncate : 20 : "…"}}</address>
          <address *ngIf="!customer.address">Not Available</address>
          <a routerLink="/datatables/customerdetail" class="view-customer-detail" (click)="customerIndex(customer.id)">View All Detail</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" *ngIf="noDataFound">
    <h2 class="no-customer">No Records Found ...!</h2>
</div>
