.customer-card {
  text-align: center;
}
.customer-card h4 {
  font-size: 14px !important;
  color: #0090c6;
  font-weight: bold !important;
  min-height: 35px;
}
.customer-card address {
  font-size: 13px;
  color: #7e7e7e;
  margin: 0 0 5px;
}
.round-img {
  border-radius: 50%;
  width: 50%;
  margin: 0 0 10px !important;
}
.customer-card .card-text {
  color: #6a6a6a;
  font-size: 15px;
  margin: 0 0 4px;
  background: #f7f7f7;
  padding: 5px 0;
}
.customer-card .card-block {
  padding: 0;
}
.customer-card .view-customer-detail{
  color: #f36e44;
}
.no-customer {
  font-size: 25px;
  padding: 15px 0 0;
  text-align: center;
}
