.panel {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
a,
[type="submit"] {transition: all .25s ease-in;}
label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #aaa;
}
.form-control{
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  font-weight: lighter !important;
}
.form-control:focus{
  box-shadow: none !important;
}
[type="text"] {color: #aaa;}
[type="password"] {color: #aaa;}
.btn--form,.signup__link {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 400;
  border-radius:30px;
  text-transform: uppercase;
  color: #fff;
  background:#182F81;
  border-radius: remy(35px);
  &:focus,
  &:hover {background: lighten(#111, 13%);}
}
.signup__link{
  background:#fff;
  border: 1px solid #ccc;
  color: #ccc;
  margin-right:15px;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #aaa !important;
}
:-moz-placeholder { /* Firefox 18- */
  color: #aaa !important;
}
.img-responsive{
  width: 100%;
}
label.btn-file-upload{
  margin-top: 20px;
  color: #fff !important;
  cursor: pointer;
}
