<div class="panel panel-default">
  <h2>Profile Setting</h2>
  <form class="form" [formGroup]="form" (submit)="updateProfileForm(form.value)">
    <div class="row">
      <div class="col-md-9">
      <div class="signup__container">
        <div class="container__child signup__form">
            <div class="form-body">
              <div class="form-group">
                <label for="username">Name</label>
                <input class="form-control" type="text" formControlName="name" id="username" placeholder="Name"  [(ngModel)]="userProfileData.name"  />
              </div>
              <div class="form-group">
                <label for="username">Phone</label>
                <input class="form-control" type="text" formControlName="phone" id="userphone" placeholder="Phone"   [(ngModel)]="userProfileData.mobile"  />
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="text" formControlName="email" id="email" placeholder="Email"  [(ngModel)]="userProfileData.email" />
              </div>
              <div class="form-group">
                <label for="username">Address</label>
                <input class="form-control" type="text" formControlName="address" id="address" placeholder="Line 1"   [(ngModel)]="userProfileData.address"/>

              </div>
              <div class="m-t-lg">
              <a class="signup__link btn btn-default">Cancel</a>
              <button class="btn btn--form" type="submit">Save <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            </div>
            </div>
        </div>
      </div>
    </div>
      <div class="col-md-3">
        <img *ngIf="!profilePic" src='{{imagePath}}/{{userProfileData.avatar}}' alt="" class="img-responsive" ><br>
        <img *ngIf="profilePic" src="../../../assets/img/male.png" alt="" class="img-responsive" ><br>
        <label class="btn btn-block btn-primary btn-file-upload" (change)="onFileChange($event)">
          Choose IMage&hellip;
          <input type="file" multiple formControlName="image" id="avatar"  style="display: none;" #fileInput >
        </label>
      </div>
  </div>
  </form>
</div>
