
<a  class="orders-process btn btn-primary" (click)="openModal(template); getDataByOrder();" style="cursor: pointer;padding: 6px 45px;color: #fff !important;font-size: 14px;"> Process</a>

<ng-template #template>
  <div class="in-process-invoice">
    <div  class="tg-modal-content">
    <div class="inovice">
      <div class="col-sm-12">
        <div class="invoice-header">
          <h1 class="pull-left">Invoice</h1>
          <h5 class="pull-right" style="margin: 9px 0 0 0;">Order# {{invoiceDetail.order_number}}</h5>
        </div>
        <hr style="margin: 12px 0 2px;">
        <div *ngIf="imgLoader"  class="invoice-loader">
          <img src="../../../assets/img/loader.gif">
          <span>Loading Data ...</span>
        </div>
        <div *ngIf="!imgLoader"  class="invoice-person-info">
          <h2>Customer Info</h2>
          <div class="row">
            <div class="col-md-3">
              <dl>
                <dt>Name:</dt>
                <dd>{{invoiceDetail.patient_name}}</dd>
                <dd *ngIf="!invoiceDetail.patient_name">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Number:</dt>
                <dd>{{invoiceDetail.phone}}</dd>
                <dd *ngIf="!invoiceDetail.phone">...</dd>
              </dl>            </div>
            <div class="col-md-6">
              <dl>
                <dt>Address:</dt>
                <dd>{{invoiceDetail.address}}</dd>
                <dd *ngIf="!invoiceDetail.address">...</dd>
              </dl>
            </div>

          </div>
          <div class="row">
            <div class="col-md-3">
              <dl>
                <dt>Date:</dt>
                <dd>{{ objDate | date : 'mediumDate'}}</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Order Type:</dt>
                <dd>{{ invoiceDetail.order_type }}</dd>
                <dd *ngIf="!invoiceDetail.patient_name">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Payment Type:</dt>
                <dd>{{invoiceDetail.payment_type}}</dd>
                <dd *ngIf="!invoiceDetail.payment_type">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Branch Name:</dt>
                <dd>{{invoiceDetail.branch_name}}</dd>
                <dd *ngIf="!invoiceDetail.branch_name">...</dd>
              </dl>
            </div>
            <!--<div class="col-md-3">-->
              <!--<dl>-->
                <!--<dt>Branch Area:</dt>-->
                <!--<dd>{{invoiceDetail.area}}</dd>-->
                <!--<dd *ngIf="!invoiceDetail.area">...</dd>-->
              <!--</dl>-->
            <!--</div>-->
          </div>
        </div>

        <div *ngIf="!imgLoader"  class="personal-info">
          <!--<a routerLink="" (click)="addItem()" class="addmore" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Add more</a>-->
          <div class="card-body">
            <div class="card-block">
              <div class="table-header">
                <div class="row">
                  <div class="col-sm-1">
                    <span>#</span>
                  </div>
                  <div class="col-sm-6">
                    <span>Item Name</span>
                  </div>
                  <!--<div class="col-sm-2">-->
                  <!--<span>Qty</span>-->
                  <!--</div>-->
                  <!--<div class="col-sm-2">-->
                  <!--<span>Unit Price</span>-->
                  <!--</div>-->
                  <div class="col-sm-2">
                    <span>Price</span>
                  </div>
                  <div class="col-sm-2">
                    <span>Discount</span>
                  </div>
                  <div class="col-sm-1">
                  </div>
                </div>
              </div>
              <div class="table-body">

                <form [formGroup]="invoiceForm" #invoiceFormData="ngForm" (submit)="save(invoiceFormData)" >
                  <div formArrayName="itemRows">
                    <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index"  [formGroupName]="i">
                      <div class="row">
                        <div class="form-group col-sm-1" style="margin-top: 6px;    padding-left: 30px;">
                          {{i+1}}
                        </div>
                        <div class="form-group col-sm-6" style="padding-right:0;">
                          <ng-template #rt let-r="result" let-t="term" >
                            {{ r.name}}
                          </ng-template>
                          <input id="typeahead-template" type="text"  class="form-control" formControlName="item1" [ngbTypeahead]="search" [resultTemplate]="rt"
                                 [inputFormatter]="formatter" (selectItem)="selectedId($event, i)" [disabled]="(prescriptionFlag == 2) ? true : false"/>
                        </div>
                        <!--<div class="form-group col-sm-2" style="padding-right:0;">-->
                        <!--<input formControlName="item2" name=quantity[]  class="form-control" placeholder="0" value="0" [disabled]="(prescriptionFlag == 2) ? true : false" [(ngModel)]="quantities[i]" (keyup)="calPrice(i)" >-->
                        <!--</div>-->
                        <!--<div class="form-group col-sm-2" style="padding-right:0;">-->
                        <!--<input formControlName="item3" name=unitPrice[] type="number"  id="unitPrice_{{i}}"  class="form-control" [disabled]="(prescriptionFlag == 2) ? true : false" placeholder="00.00" [(ngModel)]="unit_prices[i]" >-->
                        <!--</div>-->
                        <div class="form-group col-sm-2" style="padding-right:0;">
                          <input formControlName="item4" name=price[] type="number"   class="form-control" placeholder="00.00" [disabled]="(prescriptionFlag == 2) ? true : false" [(ngModel)]="prices[i]">
                        </div>
                        <div class="form-group col-sm-2" style="padding-right:0; margin-top: 6px;">
                          <strong ><span *ngIf="!discount[i]">Rs. 0</span>{{ discount[i]}}</strong>
                        </div>
                        <div class="form-group col-sm-1" style="padding:0;" *ngIf="prescriptionFlag != 2">
                          <button type="button" (click)="addNewRow()" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger form-group"><i class="fa fa-minus" aria-hidden="true"></i></button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="sub-total" style="margin-top: 15px;">
                    <dl>
                      <dt>Sub - Total amount</dt>
                      <dd>Rs.{{subTotal}}</dd>
                      <ng-container *ngIf="!noPromoCode">
                        <span *ngFor="let promocode of promocodes">
                          <dt *ngIf="promocode.is_corporate === 1">Hayaat Discount</dt>
                          <dd *ngIf="promocode.is_corporate === 1">{{promocode.promocodePercentages[0].value}}%</dd>
                          <dt *ngIf="promocode.is_corporate === 0">Other Promocode</dt>
                          <dd *ngIf="promocode.is_corporate === 0">{{promocode.promocodePercentages[0].value}}%</dd>
                        </span>
                      </ng-container>
                      <ng-container *ngIf="!noOffer">
                        <span *ngFor="let offer of offers">
                          <dt *ngIf="!noOffer">Branch Offer</dt>
                          <dd *ngIf="!noOffer">{{offer.value}}%</dd>
                        </span>
                      </ng-container>
                      <!--<dt>-->
                      <!--<input class="form-control" type="text" name="promoCode" id="promo-code" placeholder="Add Promo Code" />-->
                      <!--(if any):-->
                      <!--</dt>-->
                      <!--<dd>Rs.00</dd>-->
                    </dl>
                  </div>
                  <hr>
                  <div class="alert alert-danger" style="color:#fff !important;" *ngIf="orderExceed">
                    The total exceeds to Rs. 1000. Please call the customer and confrim!
                    <span class="pull-right"><i (click)="orderExceed = false" class="fa fa-times"></i></span>
                  </div>
                  <div class="proceed-payment">
                    <div class="payment-buttons">
                      <button class="btn btn-raised btn-primary" type="submit"><img *ngIf="loginGifSave" src="../../../assets/img/loader.gif" style="width: 28px">Proceed to payment</button>
                      <!--<a class="btn btn-raised btn-secondary" href="javascript:void(0)" onclick="print()"><i class="fa fa-print" aria-hidden="true"></i> Print</a>-->
                    </div>
                    <h3>Total : <span *ngIf="total_price" [style.color] = "orderExceed ? 'red' : 'black'">Rs. {{total_price}}</span>
                      <span *ngIf="!total_price">0/-</span></h3>
                  </div>
                </form>
              </div>
              <select class="status-select" #status (change)="onSelectReason(status.value)">
                <option value="">Select Reason</option>
                <option *ngFor="let status of statuses, let i = index" value={{i}} [selected]="invoiceDetail.hold_reason === i">{{status}}</option>
              </select>
              <a *ngIf="show" style="background: #484848 !important;" class="btn btn-raised btn-info add-pending" (click)="savePendingComment(status.value, commentReason.value)"><img *ngIf="loginGif" src="../../../assets/img/loader.gif" style="width: 20px">Add to Pending</a>
              <a *ngIf="!show" style="background: #484848 !important;" class="btn btn-raised btn-info add-pending" (click)="savePending(status.value)"><img *ngIf="loginGif" src="../../../assets/img/loader.gif" style="width: 20px">Add to Pending</a>
              <textarea  [disabled]="!show" class="form-control" id="placeTextarea" rows="3" placeholder="Any Issue Regarding Order" #commentReason [(ngModel)]="invoiceDetail.hold_comment"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="zoom-img" *ngIf="!invoiceDetail.is_prescription">
      <h2>Prescription</h2>
      <div *ngIf="!imgLoader"  class="col-sm-12">
        <span *ngIf="!imagesNull"><b>Images :</b> {{current_img}}/{{total_img_count}}</span>
        <h4 *ngIf="imagesNull">No Image</h4>
        <img *ngIf="!imagesNull" class="zoomer" [imageZoom]="image_src" [src]="image_small" [style.width.px]="300" [style.height.px]="400">
       <div class="thumbnails">
          <a *ngFor="let thumbnail of thumbnails, let i = index">
            <img src = "{{imagePath}}/{{thumbnail.image}}" alt="..." class="img-thumbnail" [style.border-color]="activeImg" (click)="getImgSrc(thumbnail.image,  i);" #imgsrc>
            <!--<img src = "{{imagePath}}/{{thumbnail.image}}" alt="..." class="img-thumbnail" [style.border-color]="activeImg" (click)="getImgSrc(imgsrc.getAttribute('src'), i);" #imgsrc>-->
          </a>
       </div>
        <a class="next-img" (click)="next()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        <a class="previous-img" (click)="previous()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        <!--<select class="status-select" #status (change)="onSelectReason(status.value)">-->
          <!--<option value="">Select Reason</option>-->
          <!--<option *ngFor="let status of statuses, let i = index" value={{i}}>{{status}}</option>-->
        <!--</select>-->
        <!--<textarea [disabled]="!show" class="form-control" id="placeTextarea" rows="3" placeholder="Any Issue Regarding Order" #commentReason></textarea>-->
      </div>
    </div>
      <!--float: right;-->
      <!--width: 40%;-->
      <!--margin: 50px 0 10px;-->

      <div *ngIf="invoiceDetail.is_prescription" class="zoom-img">
        <h2>Prescription</h2>
        <div class="col-sm-12">
          <table class="table">
            <thead>
            <tr>
              <th>Sr.#</th>
              <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let med of invoiceDetail['prescription']['labItems'], let i = index">
              <td>{{i+1}}</td>
              <td>{{med.item}}</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
      <div *ngIf="!imgLoader"  class="cancel-order-buttons">
        <a  class="btn btn-raised btn-info" style="font-size: 12px;" (click)="cancelOrder('1')"><img *ngIf="loginGifImageNot" src="../../../assets/img/loader.gif" style="width: 20px">Image Not Readable</a>
        <a  class="btn btn-raised btn-info" style="font-size: 12px; background: #ef5353 !important; border-color:#ef5353;" (click)="cancelOrder('2')"><img *ngIf="loginGifOrderNot" src="../../../assets/img/loader.gif" style="width: 20px;">Order Not Supported</a>
      </div>
  </div>
  </div>
</ng-template>
