.orders-generate-invoice {
  color: #7a7a7a;
  text-transform: uppercase;
  font-size: 13px;
  background: #f7f7f7;
  border: 1px solid #d7d7d7;
  width: 145px;
  height: 35px;
  padding: 6px 0 0;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  margin: 4px 0 0;
}
.modal-dialog{
  margin-right: 48%;
}
.modal-body{
  padding: 15px 50px 0;
}
.modal-content{
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.gen-invoice{
  width:940px;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.inovice {
  padding: 0 0 5px;
  width: 60%;
  float: left;
}
.inovice table{
  margin: 0;
}
.invoice-person-info dl dt,
.sub-total dl dt{
  width: 70px;
  float:left;
  font-size:12px;
  color: grey;
  margin: 4px 0 0;

}
.invoice-person-info dl dd,
.sub-total dl dt{
  overflow: hidden;
  margin: 0;
  font-size:12px;
  line-height: 29px !important;
}
.invoice-person-info dl dd {
  width: 160px;
}
.invoice-date {
  overflow: hidden;
  font-size: 13px;
  width: 40%;
}
.invoice-date span b{
  font-weight: 500;
}
.invoice-date span{
  display: block;
  text-align: left;
}
.invoice-person-info dl{
  width: 55%;
  padding: 0;
  float: left;
}
.invoice-person-info {
  overflow: hidden;
  padding: 0 0 0 12px;
  margin: 0 0 20px;
  background-color: #f7f7f7;
}
.invoice-person-info h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0 18px;
  color: grey;
  display: block;
  text-transform: uppercase;
}
.personal-info .addmore {
  float: right;
  display: inline-block;
  background: #f7f7f7;
  font-size: 15px;
  border: 1px solid grey;
  padding: 6px 15px 0;
  height: 39px;
  color: grey !important;
  border-radius: 25px;
}
.personal-info a i{
  font-size: 25px;
  color: #182f81;
  padding: 0 5px 0 0;
  float: left;
}
.sub-total {
  overflow: hidden;
  margin: 0 0 15px;
}
.sub-total dl {
  width: 50%;
  float: right;
  margin:0;
}
.sub-total dl dt {
  width: 150px;
}
.sub-total dd {
  font-size: 12px;
  font-weight: bold;
  margin:0;
}
.proceed-payment {
  overflow: hidden;
}
.payment-buttons {
  float: left;
}
.proceed-payment h3 {
  float: right;
  font-size: 23px;
  margin: 0 30px 0 0;
  color: #182f81;
  font-weight: bold;
}
.proceed-payment h3 span{
  color: grey;
  font-weight: normal;
}
.payment-buttons .btn-primary {
  background: #182f81 !important;
  border-color: #182f81;
}
.payment-buttons .btn-secondary{
  background-color: #fff;
  color: #000;
}
.sub-total dl dt #promo-code{
  width: 108px;
  font-size: 12px;
  margin: 4px 0 0;
  padding: 0;
  float: left;
}
.sub-total dl dt {
  width: 155px;
  text-align: right;
  margin: 0 10px 0 0;
}

.gen-invoice .card-body{
  padding: 0 0 40px 0;
}
.gen-invoice .card-body td {
  padding: 0 !important;
}
.gen-invoice .card-body th {
  padding: 0 !important;
}
.personal-info {
  padding: 0 0 0 12px;
}
.invoice-person-info {
  overflow: hidden;
  padding: 0 0 0 12px;
}
.sub-total dl {
  width: 50%;
  float: right;
  margin: 0;
}
.proceed-payment h3{
  margin:0;

}






.invoice-header {
  padding: 17px 0 0 12px;
  overflow: hidden;
}
.invoice-header h1 {
  display: inline-block;
  font-size: 22px;
  font-weight: bold;
  float: left;
  margin: 0;
  color: grey;
  text-transform: uppercase;
  padding: 7px 0 0;
}
span.invoice-no {
  font-size: 20px;
  font-weight: 400;
  color: grey;
  float: none;
  padding: 7px 0 0;
  display: inline-block;
}
.invoice-header .btn-info{
  float:right;
  margin: 0;
}
.zoom-img {
  padding: 2% 0;
  background: #f7f7f7;
  float: right;
  margin: 0 0 20px;
  box-sizing: border-box;
  width: 40%;
  border-radius: 0 8px 8px 0;
  text-align: center;
  min-height: 500px;
}
.zoom-img h2 {
  margin: 0 0 10px 11px;
}
.zoom-img textarea{
  background: white;
  min-height: 120px;
}
.zoom-img .img-thumbnail{
  max-width: 15%;
  margin: 0 0 10px;
}
.zoom-img .zoomer {
  display: block;
  margin: 0 auto 8px;
  position: relative;
}
a.previous-img{
  position: absolute;
  top: 20%;
  left: 4px;
}
a.next-img{
  position: absolute;
  top: 20%;
  right:4px;
}
.previous-img i,
.next-img i{
  font-size: 40px;
  color: #ccc;
}
.form-group i,
.invoice-fields i{
  color: #fff;
}
.table-body .form-group{
  margin: 0 0 5px;
}
.table-body .form-control {
  border: none;
}
.table-body .form-group input{
  border-bottom: 1px solid;
}
.table-body .form-group button,
.table-body .btn-danger {
  padding:5px 1px;
  margin: 0;
}
.table-header span {
  text-align: center;
  display: block;
  font-weight: bold;
}
.status-select{
  width: 70%;
  margin: 1px 0 0;
  height: 32px;
  float: left;
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  font-weight: lighter !important;
}
.zoom-img .thumbnails {
  overflow: hidden;
  height: 50px;
}
.add-pending {
  float: right;
  height: 32px;
  width: 28%;
  border-radius: 0;
  line-height: 21px;
  font-size: 14px;
  border: none;
}
.cancel-order-buttons {
  text-align: center;
}
.invoice-loader{
  width: 100%;
  overflow: hidden;
  padding: 120px 0;
  text-align: center;
}
.invoice-loader img {
  max-width: 10%;
  display: inline-block;
}
.invoice-loader span {
  display: block;
}
.modal-content {
  width: 1000px;
}
