
<a class="" (click)="openModal(template); editProduct(row);" style="cursor: pointer;"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>

<ng-template #template>
  <div class="tg-user-type-modal">
    <div class="modal-body create-offer">
      <div class="tg-modal-content">
        <div class="card-body">
          <div class="px-3">
            <div class="row" matchHeight ="card">
                  <h2>Product Edit</h2>
                <form [formGroup]="form" (submit)="updateProduct(form.value, $event)">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="signup__container">
                        <div class="container__child signup__form">
                          <div class="row">
                            <div class="col col-md-12">
                              <div class="form-group">
                                <label for="category_id">Product Categories</label>
                                <ng-template #rt let-r="result" let-t="term">
                                  {{ r.name}}
                                </ng-template>
                                <input id="typeahead-template" type="text" class="form-control" formControlName="category1" [ngbTypeahead]="search1" [resultTemplate]="rt"
                                       [inputFormatter]="formatter"
                                       (selectItem)="assignVal($event, 'category', 'assign')"
                                />
                              </div>
                            </div>
                            <div class="col col-md-12">
                              <div class="form-group">
                                <label for="name">Item Name</label>
                                <ng-template #rt let-r="result" let-t="term">
                                  {{ r.name}}
                                </ng-template>
                                <input id="typeahead-template1" type="text" class="form-control" formControlName="name1" [ngbTypeahead]="search2" [resultTemplate]="rt"
                                       [inputFormatter]="formatter"
                                       (selectItem)="assignVal($event, 'product', 'assign')"
                                />
                              </div>
                            </div>
                            <div class="col col-md-12">
                              <div class="form-group">
                                <label for="price">Unit Price</label>
                                <input class="form-control" type="text" formControlName="price1" id="price" placeholder="Unit Price"  />
                              </div>
                            </div>
                            <div class="col col-md-12">
                              <a (click)="modalRef.hide()" class="btn btn-outline-danger">Cancel</a>
                              <button class="btn btn-outline-success" type="submit">Update <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
