
<a class="view-pharmacy-detail" (click)="openModal(template)" style="cursor: pointer;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add New</a>

<ng-template #template>
  <div class="tg-user-type-modal">
    <div class="modal-body pharmacy-branch-detail">
      <div class="tg-modal-content">
        <div class="card-body">
          <div class="px-3">
            <form class="form" #form="ngForm" (submit)="addPharmacyBranch(form.value)" >
              <div class="form-body">
                <h4 class="form-section"> Branch Detail</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput1">Name</label>
                      <input type="text" id="projectinput1" class="form-control"  name="name" placeholder="User name" required  ngModel >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput2">Branch Code</label>
                      <input type="number" id="projectinput2" class="form-control"  name="code" placeholder="#"  ngModel >
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput4">Phone</label>
                      <input type="number" id="projectinput4" class="form-control"  name="phone" placeholder="User phone number"  ngModel>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput3">Address</label>
                      <input type="text" id="projectinput3" class="form-control"  name="address" placeholder="lane 1"  ngModel>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput5">Fax</label>
                      <input type="number" id="projectinput5" class="form-control"  name="fax" placeholder="User fax number"  ngModel>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="projectinput7">Email</label>
                      <input type="email" id="projectinput7" class="form-control"  name="email" placeholder="User email address"   ngModel>
                    </div>
                  </div>
                </div>
                <h4 class="form-section"> Branch Manager</h4>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="mname">Name</label>
                      <input type="text" id="mname" class="form-control"  name="admin_name" placeholder="User Name"  ngModel >
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="mobile">Phone</label>
                      <input type="email" id="mobile" class="form-control"  name="admin_phone" placeholder="#"  ngModel>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="memail">Email</label>
                      <input type="email" id="memail" class="form-control"  name="admin_email" placeholder="User Email"  ngModel>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="upload-img-manager">
                      <img src="assets/img/elements/02.png">
                      <label class="btn btn-block btn-primary btn-file-upload">
                        Chose IMage&hellip;
                        <input type="file" style="display: none;" >
                      </label>
                      <span>no file chosen</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="add-buttons">
                      <a class="btn btn-raised btn-primary" href="javascript:void(0)">Cancel</a>
                      <button class="btn btn-raised btn-secondary" type="submit"> Add <i class="ft-arrow-right"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
