.view-pharmacy-detail{
  float: right;
  display: inline-block;
  background: #f7f7f7;
  font-size: 15px;
  border: 1px solid grey;
  padding: 6px 15px 0;
  height: 39px;
  color: grey !important;
  border-radius: 25px;
}
.view-pharmacy-detail i{
  font-size: 25px;
  color: #182f81;
  padding: 0 5px 0 0;
  float: left;
}
.pharmacy-branch-detail {
  padding: 0;
}
//.pharmacy-branch-detail .card-body {
//  padding: 0;
//}
//.pharmacy-branch-detail .form-group{
//  margin:0 0 4px;
//}
.modal-dialog {
  margin-right: 40%;
}
.modal-content {
  width: 700px;
}
.pharmacy-branch-detail .form .form-section{
  color: #7a7a7a;
  font-weight: bold !important;
  border: none;
}
.upload-img-manager .btn-primary{
  background: #ececec;
  padding: 10px 15px;
  border-radius: 25px;
  color: #7a7a7a !important;
  border-color: #7a7a7a !important;
  width: 145px;
  display: inline;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
  box-shadow: -1px 3px 14px -3px rgba(0, 0, 0, 0.5);
}
.upload-img-manager img{
  width:80px;
  margin: 0 20px 0 0;
}

.upload-img-manager span {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #7a7a7a;
}
.add-buttons .btn-primary {
  background: #fff !important;
  color: #7a7a7a !important;
  border-radius: 20px;
  padding: 5px 35px;
  font-weight: bold;
  border-color: #7a7a7a;
}
.add-buttons .btn-secondary {
  border-radius: 20px;
  padding: 5px 21px;
  background: #1a237e;
  color: #fff !important;
}
form .form-control{
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  font-weight: lighter;
}
form .form-control:focus{
  box-shadow: none;
}

