<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="cancel-order">
            <h1>Cancel Orders</h1>
            <select *ngIf="!branchAdmin" class="form-control" id="basicSelect" #selectBranch (change)="cancelOrdersOfBranch(selectBranch.value)" >
              <option [value]="0">All Branches</option>
              <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
            </select>
            <table class="table" *ngIf="!imgLoader">
              <thead class="thead-default">
              <tr>
                <!--<th>Order#</th>-->
                <th>Name</th>
                <!--<th>Number</th>-->
                <th>Branch Name</th>
                <th>Date/Time</th>
                <th>Reason</th>
              </tr>
              </thead>
              <tbody *ngIf="!noCancelData">
              <tr *ngFor="let order of cancelOrderData">
                <!--<td  scope="row">{{order.order_number}}</td>-->
                <td  scope="row">{{order.name}}<br>{{order.mobile}}</td>
                <!--<td >{{order.mobile}}</td>-->
                <!--<td>12/7/2017</td>-->
                <td style="width: 100px;">{{order.branch_name}}</td>
                <!--<td>100.Rs</td>-->
                <td >{{order.date}}<br>{{order.time}}</td>
                <td *ngIf="order.status === 12" >Order Not supported</td>
                <td *ngIf="order.status === 13" >Image Not Readable</td>
                <td *ngIf="order.status === 14" >Cancel By User</td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="imgLoader"  class="img-loader">
              <img src="../../../assets/img/loader.gif">
            </div>
            <div *ngIf="noCancelData">
              <h2 class="no-order">No Record Found...!</h2>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

