.pharmacy-card h1 {
  font-size: 17px !important;
  font-weight: bold !important;
  color: #0090c6 !important;
  float: left;
}
.edit-icon {
  float: right;
}
.pharmacy-card dl{
  width: 100%;
}
.pharmacy-card dl dt {
  float: left;
  font-size: 12px;
  margin: 0 0;
  text-align: right;
  width: 50px;
  padding: 4px 0 0 0;
  color: #7a7a7a;
}

.pharmacy-card dl dd {
  overflow: hidden;
  margin: 0;
  font-size: 12px;
  text-align: left;
  padding: 0 0 0 15px;
  color: #8d8d96;
}
.pharmacy-card-head {
  overflow: hidden;
}
.branch-code{
  float: right;
  font-size: 14px;
  color: #7a7a7a;
  background: #f7f7f7;
  display: block;
  padding: 5px 15px;
}
.no-branch {
  font-size: 25px;
  padding:15px 0 0;
  text-align: center;
}
