<div class="row" matchHeight ="card" *ngIf="!noBranchFound">
  <div class="col-xl-4 col-lg-4 col-md-12" *ngFor="let branch of branchesData; let i = index" >
    <div class="card pharmacy-card" (mouseenter)="getBranchId(branch.id, i)">
      <div class="card-body">
        <div class="card-block">
          <div class="pharmacy-card-head">
            <h1 class="card-title">{{branch.name}}</h1>
            <div class="edit-icon">
              <a  (click)="deletePharmacyBranch()" (messageEvent)="receiveMessage($event)" ><i class="fa fa-trash" aria-hidden="true"></i></a>/
              <app-update-pharmacy></app-update-pharmacy>
            </div>
          </div>
          <dl>
            <dt>Adress:</dt>
            <dd>{{branch.address}}</dd>
            <dt *ngIf="branch.email">Email:</dt>
            <dd><a href="javascript:void();"> {{branch.email}}</a></dd>
            <dt>Phone:</dt>
            <dd>{{branch.phone}}</dd>
            <dt *ngIf="branch.fax">Fax:</dt>
            <dd>{{branch.fax}}</dd>
            <dt>Web:</dt>
            <dd><a href="javascript:void();">www.cshpharma.com</a></dd>
          </dl>
          <span class="branch-code"><b>Branch Code</b> #{{branch.code}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="" *ngIf="noBranchFound">
  <h2 class="no-branch">No Record Found ...!</h2>
</div>
