<div class="login-background" *ngIf="!loginForm">
  <div class="row" >
	<div class="col-4" style="margin: 13% auto 0;">
	   		<!-- Kick start -->
		<div id="kick-start" class="card">
			<div class="card-body">
				<div class="card-block">
          <div class="login-section">
            <img class="hayaat-logo" src="../../../assets/hayaat-logo.png">
            <form class="login-form form" id="login-doctor-form" [formGroup]="form"  (submit)="userLogin(form.value)">
             <div class="form-body">
              <div class="form-group">
                <label for="username">Name</label>
                <input type="text" class="form-control" id="username" formControlName="name" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input  type="password" class="form-control" formControlName="password" id="password" placeholder="Password">
              </div>
                <button class="tg-btn tg-btn-lg login-button"  type="submit" id="login-button"><img *ngIf="loginGif" src="../../../assets/img/loader.gif" style="width: 28px">Login</button>
             </div>
            </form>
            <img class="login-switch" src="../../../assets/login-switch.png">
          </div>
				</div>
			</div>
		</div>
		<!--/ Kick start -->
	</div>
</div>
</div>
