.form-control{
  background-color: transparent;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  font-weight: lighter !important;
}
.form-control:focus{
  box-shadow: none !important;
}
[type="text"] {color: #aaa;}
[type="password"] {color: #aaa;}
.btn--form,.signup__link {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 400;
  border-radius:30px;
  text-transform: uppercase;
  color: #fff;
  background:#182F81;
  border-radius: remy(35px);
  &:focus,
  &:hover {background: lighten(#111, 13%);}
}
.login-section .login-button{
  background: #1a237e;
  color: #fff;
  width: 100%;
  padding: 15px 0;
  border-radius: 30px;
  border: 2px solid #1a237e;
  margin: 0 0 15px;
}
.login-section .login-button:hover {
  background: #fff;
  color:  #1a237e;
}
.login-background{
  background: url("../../../assets/login-background.png");
  background-repeat: no-repeat;
  padding: 0 0 30%;
  background-position: -6px 2%;
  background-size: contain;
}

.login-section .hayaat-logo{
  display: block;
  margin: 0 auto 25px;
  width: 60%;
}
.login-switch {
  display: block;
  margin: 0 auto;
  width: 97px;

}
.card .card-body{
  padding-bottom: 0 !important;
}
.card .card-block{
  padding-bottom: 0 !important;
}
