.invoice-list table td img {
  width: 80px;
  height: 80px;
}
.invoice-list table th {
  color: #5f5f5f;
}
thead.thead-default {
  background: #f7f7f7;
}
.no-invoice {
  font-size: 25px;
  padding:15px 0 0;
  text-align: center;
}
