
<!-- Filter Datatable Options Starts -->
<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="invoice-list">
            <h2>Invoices</h2>
            <table class="table">
              <thead class="thead-default">
              <tr>
                <th>Inv #</th>
                <th>Customer Name</th>
                <th>Date</th>
                <th>Image</th>
                <th>Payment</th>
                <th>View Invoice</th>
              </tr>
              </thead>
              <tbody *ngIf="!noInvoiceFound">
              <tr *ngFor="let invoice of invoicesData, let i = index" (mouseenter)="rowIndex(invoice.id)" >
                <th  scope="row">{{invoice.invoice_number}}</th>
                <td >{{invoice.customer_name}}</td>
                <td >{{invoice.invoice_date}}</td>
                <td *ngIf="invoice.medias.length == 0"><app-view-prescription [order]="invoice"></app-view-prescription></td>
                <td *ngIf="invoice.medias.length !== 0"><app-view-prescription [prescriptions]="invoice"></app-view-prescription></td>
                <td >{{invoice.price}}</td>
                <td ><app-invoicedetail [orderDetails]="false" [invoiceId]="false" [showBtnComplete]="false"></app-invoicedetail></td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="noInvoiceFound">
              <h2 class="no-invoice"> No Record Found ...!</h2>
            </div>
            <ngb-pagination *ngIf="!noInvoiceFound"  [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"  [boundaryLinks]="false" (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filter Datatable Options Ends -->
