<div class="modal-body">
  <h4 class="modal-title" style="text-align: center">Set Your Password</h4>
  <form class="tg-form-signup change-password-form" [formGroup]="form" (submit)="updatePass(form.value)" >
    <fieldset>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width" >
          <input matInput type="password" placeholder="Password" formControlName="newPass" >
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width" >
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPass" >
        </mat-form-field>
        <div class="form-group">
          <button class="tg-btn create-account-btn" [disabled]="loginGif" type="submit"><img *ngIf="loginGif" style="width: 15px;" src="../../../assets/img/loader.gif"> Save</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
