
<a *ngIf="pathFour;" class="orders-generate-invoice" (click)="openModal(template); customerInoviceDetail()" style="cursor: pointer;"> View Invoice</a>
<a *ngIf="pathOne;" class="orders-generate-invoice" (click)="openModal(template); invoiceDetailData();" style="cursor: pointer;"> View Invoice</a>
<a *ngIf="pathThree;" class="orders-generate-invoice" (click)="openModal(template); ordersInoviceDetail();" style="cursor: pointer;"> View Order</a>
<a *ngIf="pathTwo;" class="orders-process" (click)="openModal(template); completedInoviceDetail();" style="cursor: pointer;"> View Order</a>


<ng-template #template>
  <div class="modal-width printable" *ngIf="customerDetail.length != 0">
  <div class="tg-modal-content">
    <div class="inovice-detail-view">
      <div class="col-sm-12">
          <div class="invoice-header">


              <h1 class="pull-left">Invoice # {{customerDetail.invoice_number}}</h1>
              <a *ngIf="customerDetail.order_status == 4" class="btn btn-raised btn-secondary print-invoice" href="javascript:void(0)" onclick="print()"><i class="fa fa-print" aria-hidden="true"></i> Print</a>

          </div>
        <hr>

        <div *ngIf="!imgLoader"  class="invoice-person-info">
          <h2>Customer Info</h2>
          <div class="row">
            <div class="col-md-3">
              <dl>
                <dt>Order #</dt>
                <dd>{{customerDetail.order_number}}</dd>
                <dd *ngIf="!customerDetail.order_number">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                  <dt>Name:</dt>
                  <dd>{{customerDetail.customer_name}}</dd>
                  <dd *ngIf="!customerDetail.customer_name">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                  <dt>Number:</dt>
                  <dd>{{customerDetail.customer_mobile}}</dd>
                  <dd *ngIf="!customerDetail.customer_mobile">...</dd>
              </dl>
            </div>
            <div class="col-md-3">
                <dl>
                    <dt>Address:</dt>
                    <dd *ngIf="customerDetail.customer_address != null">{{customerDetail.customer_address}}</dd>
                    <dd *ngIf="!customerDetail.customer_address || customerDetail.customer_address == null">...</dd>
                </dl>
              </div>
          </div>

        <div class="row">
            <div class="col-md-3">
              <dl>
                <dt>Date:</dt>
                <dd>{{ customerDetail.date}}</dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Order Type:</dt>
                <dd>
                  <span *ngIf="customerDetail.is_homedelivery === 0">Pick up</span>
                  <span *ngIf="customerDetail.is_homedelivery === 1">Home Delivery</span>
                </dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Payment Type:</dt>
                <dd>
                  <span *ngIf="customerDetail.cash_payment === 1"> Cash</span>
                  <span *ngIf="customerDetail.cash_payment === 0">Credit</span>
                </dd>
              </dl>
            </div>
            <div class="col-md-3">
              <dl>
                <dt>Branch Name:</dt>
                <dd>{{customerDetail.branch_name}}</dd>
                <dd *ngIf="!customerDetail.branch_name">...</dd>
              </dl>
            </div>

      </div>
      </div>
        <div class="personal-info">
          <h2>Orders Info</h2>
          <!--<a routerLink="" (click)="addItem()" class="addmore" ><i class="fa fa-plus-circle" aria-hidden="true"></i> Add more</a>-->
          <div class="card-body">
            <div class="card-block">
              <!--<ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>-->
              <table class="table">
              <thead>
              <tr>
              <th>#</th>

              <th>Item Name</th>
              <th>Price</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let product of productDetail; let i = index">
              <th scope="row">{{i + 1}}</th>
              <td>{{product.name}}</td>

              <td>{{product.unit_price}}</td>
              </tr>
              </tbody>
              </table>
            </div>
          </div>
          <div class="sub-total">
            <dl>
              <dt>Sub - Total amount:</dt>
              <dd>Rs {{customerDetail.sub_total}}</dd>
              <span *ngIf="customerDetail.discount">
              <dt *ngIf="customerDetail.discount.other_promo">Discount:</dt>
              <dd *ngIf="customerDetail.discount.other_promo">{{customerDetail.discount.other_promo}}%</dd>
              <dt *ngIf="customerDetail.discount.hayaat_discount">Hayaat Promo:</dt>
              <dd *ngIf="customerDetail.discount.hayaat_discount">{{customerDetail.order.promocodes[0].promocodePercentages[0].value}}%</dd>
              <dt *ngIf="customerDetail.discount.offer">Offer:</dt>
              <dd *ngIf="customerDetail.discount.offer">{{customerDetail.discount.offer}}%</dd>
              </span>
            </dl>
          </div>
        </div>
        <hr>
        <div class="proceed-payment">
          <div class="payment-buttons">
            <div *ngIf="showBtnComplete !== undefined && customerDetail.order_status != 4"><button class="btn btn-raised btn-primary" (click)="moveToComplete(showBtnComplete)"><img *ngIf="moveLoading" src="../../../assets/img/loader.gif" style="width: 20px"> Complete Order</button></div>
            <!--<a class="btn btn-raised btn-primary" href="javascript:void(0)">Proceed to payment</a>-->
            <!--<a class="btn btn-raised btn-secondary" href="javascript:void(0)" onclick="print()"><i class="fa fa-print" aria-hidden="true"></i> Print</a>-->
          </div>

          <h3 class="invoice-total">Total : <span>Rs {{customerDetail.total}}</span>
            <!--<span *ngIf="pathOne" class="hayaat-fee">Hayaat Fee : <b>0%</b></span>-->
          </h3>
        </div>

      </div>
    </div>
    <div class="zoom-img" *ngIf="customerDetail.medias.length != 0">
      <h2>Prescription</h2>
      <div class="col-sm-12">
        <span *ngIf="!imagesNull"><b>Images :</b> {{current_img}}/{{total_img_count}}</span>
        <h4 *ngIf="imagesNull">No Image</h4>
        <img *ngIf="!imagesNull" class="zoomer" [imageZoom]="image_src" [src]="image_small" [style.width.px]="300" [style.height.px]="400">
        <div class="thumbnails">
          <a *ngFor="let thumbnail of thumbnails, let i = index">
            <img src = "{{imagePath}}/{{thumbnail.image}}" alt="..." class="img-thumbnail" [style.border-color]="activeImg" (click)="getImgSrc(thumbnail.image,  i);" #imgsrc>
            <!--<img src = "{{imagePath}}/{{thumbnail.image}}" alt="..." class="img-thumbnail" [style.border-color]="activeImg" (click)="getImgSrc(imgsrc.getAttribute('src'), i);" #imgsrc>-->
          </a>
        </div>
        <!--<a class="next-img" (click)="next()"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>-->
        <!--<a class="previous-img" (click)="previous()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>-->
      </div>
    </div>
    <!--<div *ngIf="orderDetails && orderDetails.is_prescription" class="zoom-img">-->
        <!--<br>-->
        <!--<br>-->
        <!--<div class="col-md-12">-->
            <!--<label>Doctor Prescription</label>-->
            <!--<textarea class="form-control" readonly>{{doctorPrescription}}</textarea>-->
            <!--<hr>-->
            <!--<div class="row text-left">-->
            <!--<h3 class="col-md-12">Doctor Detail</h3>-->
            <!--<dl class="col-md-6">-->
              <!--<dt>Name</dt>-->
              <!--<dd *ngIf="doctorDetails">{{doctorDetails.name}}</dd>-->
              <!--<dd *ngIf="!doctorDetails">....</dd>-->
            <!--</dl>-->
            <!--<dl class="col-md-6">-->
              <!--<dt >Phone</dt>-->
              <!--<dd *ngIf="doctorDetails">{{doctorDetails.phone_no}}</dd>-->
              <!--<dd *ngIf="!doctorDetails">....</dd>-->
            <!--</dl>-->
            <!--<dl class="col-md-12">-->
                <!--<dt>Address</dt>-->
                <!--<dd *ngIf="doctorDetails">{{doctorDetails.address}}</dd>-->
                <!--<dd *ngIf="doctorDetails.address == null">....</dd>-->
            <!--</dl>-->
        <!--</div>-->
        <!--</div>-->
      <!--</div>-->
  </div>
  </div>
</ng-template>
