<section id="tabs">

  <div class="row">
    <!--Tabset Starts-->
    <div class="col-md-12 col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="card-block">
            <ngb-tabset>
              <ngb-tab>
                <ng-template ngbTabTitle> Orders</ng-template>
                <ng-template ngbTabContent><app-approvedlist></app-approvedlist></ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle> Orders History</ng-template>
                <ng-template ngbTabContent><app-orders-history></app-orders-history></ng-template>
              </ngb-tab>
              <ngb-tab>
                <ng-template ngbTabTitle> Canceled Order</ng-template>
                <ng-template ngbTabContent><app-cancel-orders-history></app-cancel-orders-history></ng-template>
              </ngb-tab>
            </ngb-tabset>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
