/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* @import url("assets/css/bootstrap.min.css"); */
/* @import url("../src/assets/css/prism.min.css");
@import url("../src/assets/css/sweetalert2.min.css");
@import url("../src/assets/css/bootstrap-timepicker.min.css");
@import url("../src/assets/css/wizard.css");
@import url("../src/assets/css/leaflet.css");
@import url("../src/assets/css/jquery-jvectormap-2.0.3.css");
@import url("../src/assets/css/ng2-toastr.min.css");
@import url("../src/assets/css/nouislider.min.css");*/
/*@import url("../src/assets/css/data-table/index.css");*/
/*@import url("../src/assets/css/data-table/icons.css");*/
/*@import url("../src/assets/css/demo.css");*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.ngx-datatable .datatable-footer {
  background: #424242 !important;

}
.app-sidebar[data-background-color="black"], .off-canvas-sidebar[data-background-color="black"] {
  background-color: #202f3e !important;
}
.card .card-body {
  background: #fff;
  padding: 15px 0;
}
.media-body h3, .media-body span {
  color: #7a7a7a;
}
.nav-tabs .nav-item {
  width: 25%;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.nav-tabs .nav-link.active{
  background-color: transparent;
  border-bottom-color: white;
  border-top: 3px solid #182f81;
  color: #8198ac;
}
.nav-tabs .nav-link:hover{
  background-color: transparent;
  border-top: 3px solid #182f81;
  color: #8198ac;
}
.nav-tabs .nav-link:hover{

}
.nav-tabs .nav-item a{
  color: #8198ac;
}
.app-sidebar .logo-img {
  width: 100%;
  text-align: center;
}
.app-sidebar .logo {
  margin: 0 0 0;
}
.csh-group-dropdown{
  font-size: 8px;
}
.app-sidebar .sidebar-content{
  height: auto;
}
.form-control{
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  font-weight: lighter;
}
.form-control:focus{
  box-shadow: none;
}
ul.navigation li:nth-child(2) {
  display: none;
}
.menu-collapsed .sidebar-header .logo {
  display: none;
}
.log-out-btn {
  display: none;
}
.change-password-form .mat-form-field-infix {
  width: 300px;
}
@media (max-width: 991px) {
  .log-out-btn {
    display: inline;
    text-align: right;
  }
}
