<!--Statistics cards Starts-->
<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-12" *ngIf="!adminRole">
    <div class="card">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-right white text-left">
              <img src="../../../assets/img/icons/orders-icon.png">
            </div>
            <div class="media-body white text-right">
              <h3 class="font-large-1 mb-0">{{homeData.orders_count}}</h3>
              <span>All Orders</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-12" *ngIf="adminRole">
    <div class="card">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-right white text-left">
              <img src="../../../assets/img/icons/orders-icon.png">
            </div>
            <div class="media-body white text-right">
              <h3 class="font-large-1 mb-0">{{homeData.orders_count}}</h3>
              <span>All Orders</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12" *ngIf="!adminRole">
    <div class="card ">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-right white text-left">
              <img src="../../../assets/img/icons/branches-icon.png">
            </div>
            <div class="media-body white text-right">
              <h3 class="font-large-1 mb-0">{{homeData.branches_count}}</h3>
              <span>All Branches</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-lg-6 col-md-6 col-12" *ngIf="!adminRole">
    <div class="card ">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-right white text-left">
              <img src="../../../assets/img/icons/invoices-icon.png">
            </div>
            <div class="media-body white text-right">
              <h3 class="font-large-1 mb-0">{{homeData.invoices_count}}</h3>
              <span>All Invoices</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-lg-6 col-md-6 col-12" *ngIf="adminRole">
    <div class="card ">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-right white text-left">
              <img src="../../../assets/img/icons/invoices-icon.png">
            </div>
            <div class="media-body white text-right">
              <h3 class="font-large-1 mb-0">{{homeData.invoices_count}}</h3>
              <span>All Invoices</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-12" *ngIf="!adminRole">
    <div class="card ">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-right white text-left">
              <img src="../../../assets/img/icons/earning-icon.png">
            </div>
            <div class="media-body white text-right">
              <h3 class="font-large-1 mb-0">{{homeData.total_earning}}</h3>
              <span>Earning</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <app-order [pendingOrder]="pendingOrderRef" [completeOrder]="completeOrderRef" [cancelOrder]="cancelOrderRef" ></app-order>
  </div>
  <div class="col-lg-6 col-md-6">
    <app-pending-order #pendingOrderRef [cancelOrder]="cancelOrderRef"></app-pending-order>
  </div>
  <div class="col-lg-6 col-md-6">
    <app-completed-order #completeOrderRef></app-completed-order>
  </div>
  <div class="col-lg-6 col-md-6">
    <app-cancel-order #cancelOrderRef></app-cancel-order>
  </div>
</div>
<!--Statistics cards Ends-->
