<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="order-list">
            <h2>Orders list</h2>
            <table class="table">
              <thead class="thead-default">
              <tr>
                <th>Order #</th>
                <th>Name</th>
                <th>Address</th>
                <th>Date/Time</th>
                <th>Branch Name</th>
                <th>Image</th>
              </tr>
              </thead>
              <tbody *ngIf="!noOrdersData">
              <tr *ngFor="let order of canceledOrdersData, let i = index">
                <th scope="row">{{order.order_number}}</th>
                <td >{{order.name}}<br>{{order.mobile}}</td>
                <td >{{order.address}}</td>
                <td >{{order.date}}<br>{{order.time}}</td>
                <td >{{order.branch_name}}</td>
                <td *ngIf="order.document.medias.length !== 0"><app-view-prescription [prescriptions]="order.document"></app-view-prescription> </td>
                <td *ngIf="order.document.medias.length == 0"><app-view-prescription [order]="order.invoice"></app-view-prescription> </td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="noOrdersData">
              <h2 class="no-order">No Records Found ...!</h2>
            </div>
            <div *ngIf="imgLoader"  class="img-loader">
              <img src="../../../assets/img/loader.gif">
            </div>
            <ngb-pagination *ngIf="!noOrdersData"  [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"  [boundaryLinks]="false" (pageChange)="pageChanged($event)"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

