<div class="row" matchHeight ="card">
  <div class="col-xl-12 col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="card-block">
          <div class="pending-order">
            <h1>Pending Orders</h1>
            <select *ngIf="!branchAdmin" class="form-control" id="basicSelect" #selectBranch (change)="pendingOrdersOfBranch(selectBranch.value)" >
              <option [value]="0">All Branches</option>
              <option *ngFor="let branch of branches,let i = index"  [value]="branch.id" >{{branch.name}}</option>
            </select>
            <table class="table" *ngIf="!imgLoader">
              <thead class="thead-default">
              <tr>
                <th>Order#</th>
                <th>Name</th>
                <!--<th>Number</th>-->
                <th>Branch Name</th>
                <th>Payment</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody *ngIf="!noPendingData">
              <tr *ngFor="let order of pendingOrderData, let i = index" (mouseenter)="getOrderId(order.id);">
                <td  scope="row">{{order.order_number}}</td>
                <td  scope="row">{{order.name}}<br>{{order.mobile}}</td>
                <!--<td>{{order.mobile}}</td>-->
                <!--<td>12/7/2017</td>-->
                <td style="width: 85px;">{{order.branch_name}}</td>
                <td >Pending</td>
                <td ><app-in-process-order [orderDetails]="order" [orderIdInv]="orderId" [flagPending]="pendingFlag" [cancelOrderComponentPending]="cancelOrder" (childEvent)="getDataCall($event)" ></app-in-process-order></td>
              </tr>
              </tbody>
            </table>
            <div *ngIf="imgLoader"  class="img-loader">
              <img src="../../../assets/img/loader.gif">
            </div>
            <div *ngIf="noPendingData">
              <h2 class="no-order">No Record Found...!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

